@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/10.jpg);
}
.bodyparent{
    box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.651);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 1150px;
    padding: 0 20px 40px 20px;
}




                    /* nav */




.navparent{
    position: relative;
    overflow: hidden;
}
.navheader h1{
    position: absolute;
    top: 10px;
    left: 20px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal;
    transition: .7s;
}
.navheader h1:hover{
    transform: scale(1.1) rotate(-5deg);
    color: rgba(255, 255, 255, 1);
}
.navimg .navimg1{
    height: 350px;
    width: 1150px;
    border-radius: 20px;
}
.navlinks{
    position: absolute;
    top: -5px;
    left: 710px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.navlinks > ul, .a1, .a2, .a3{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-left: 10px;
    padding: 15px 10px;
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 3px;
    transition: .5s;
    border-bottom: 2px solid rgba(255, 158, 147, 0);
}
.a1:hover{
    transform: scale(1.15);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.a1:focus{
    border-radius: 5px;
    box-shadow: 2px 2px 25px black;
}
.a2:hover{
    transform: scale(1.15);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.a2{
    border-radius: 5px;
    box-shadow: 2px 2px 25px black;
}
.a3:hover{
    transform: scale(1.15);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.a3:focus{
    border-radius: 5px;
    box-shadow: 2px 2px 25px black;
}




                    /* main */




.mainparent{
    border-radius: 10px;
}
.mainparent h1{
    text-shadow: 3px 3px 5px black;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal;  
    margin-top: 20px;
}
.mainparent p{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 27px;
    margin-top: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black;
}
.workers1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.workers1 div{
    padding: 15px 20px;
    margin: 15px;
    margin-top: 40px;
    border-radius: 20px;
}
.workers1 img{
    height: 400px;
    width: 320px;
    border-radius: 10px;
}
.workers1 h3{
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal; 
    transition: .7s;
}
.workers1 h3:hover{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
}
.workers1 h4{
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal; 
}
.workers1 p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black;
}
.workers2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.workers2 div{
    padding: 15px 20px;
    margin: 15px;
    margin-top: 40px;
    border-radius: 20px;
}
.workers2 img{
    height: 400px;
    width: 320px;
    border-radius: 10px;
}
.workers2 h3{
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal; 
    transition: .7s;
}
.workers2 h3:hover{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
}
.workers2 h4{
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal; 
}
.workers2 p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black;
}
.icons{
    margin-top: 30px;
}
.icon1{
    margin: 40px 20px;
    margin-top: 40px;
}
.icons .iconimg{
    width: 1000px;
    border-radius: 20px;
}
.icons .icon1{
    display: inline-block;
}
.icon1 .iconimg1{
    height: 50px;
    width: 50px;
}
.icon1 .iconp{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black;
}
.history{
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
}
.history1 .historyimg{
    border-radius: 10px;
}
.history1 .historyh3{
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal; 
    transition: .7s;
}
.history .historyp{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black;
    margin: 20px;
}




                    /* footer */



.footerparent{
    margin-top: 150px;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.836);
    overflow: hidden;
}
.footerdiv1{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}
.footerdiv1 div{
    margin-left: 70px;
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
}
.footerdiv1 h3{
    font-size: 22px;
    margin-bottom: 20px;
}
.footerdiv1 .div5{
    margin-left: 170px;
}
.div5 select{
    margin-top: 15px;
    width: 180px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.486);
}
.footerdiv2{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
}
.footerdiv2 .div6{
    margin: 15px;
    padding: 15px;
    line-height: 30px;
    margin-left: 40px;
}
.div6 .p1{
    border-bottom: 1px solid rgba(255, 255, 255, 0.712);
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.footerdiv2 .div7{
    margin: 15px;
    padding: 15px;
    line-height: 22px;
    margin-left: 40px;
}
.footerdiv2 .input1{
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 35px;
    width: 180px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.486);
    border: none;
    border-bottom: 1px solid black;
    color: white;
}
.input1::placeholder{
    color: black;
}
.footerdiv2 .input2{
    padding: 5px;
    padding-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.486);
    border: none;
    border-bottom: 1px solid black;
}
.footerparent h3{
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: italic;
    font-weight: normal; 
}
.footerparent p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 2px black;
}
.p2 .footerlink{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 600;
    color: #ffb3b3;
    text-shadow: 1px 1px 2px black;
}
.p2 abbr{
    text-decoration: none;
}